Source: aips
Section: science
Priority: optional
Maintainer: Gijs Molenaar (launchpad ppa build key) <gijs@pythonic.nl>
Build-Depends: debhelper (>=9), libx11-6, libc6, libgcc1, libc6-i386,
 lib32gcc1, libc6-i386, libxext6
Standards-Version: 3.9.6
Homepage: http://www.aips.nrao.edu/

Package: aips
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, xterm
Description: variety of ancillary tasks on Astronomical Data
